body {
    font: 100% normal Roboto, sans-serif;
    line-height: 120%;
}
.title:first-child {
    color: #2962FF;
    text-transform: none;
    font-weight: bold;
    font-size: 32px;
}
.title {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;
    font-size: 12px;
    color: #000;
}
.type {
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 25px;
    font-size: 12px;
}
a {
    color: #2962FF;
    text-decoration: none;
}
ul,li {
	list-style: none;
    padding: 0;
    margin: 0;
}

ul > li{
	font-size: 15px;
    margin: 5px 0 0 20px;
}

ul li > ul{
	padding: 0;
    margin: 5px 0 15px;
}

ul li > ul li {
    list-style-type: disc;
    margin: 0 0 0 15px;
}