body {
    font-family: "Segoe UI", Arial, sans-serif;
    padding: 8px 8px;
}
.title {
    color: #1976D2;
    padding: 3px 5px;
    font-style: bold;
    font-size: 30px;
}
.type {
    display: inline-block;
    color: #1976D2;
    padding: 3px 5px;
    border: #1976D2 solid 1px;
    margin-top: 15px;
}
a {
    color: #1976D2;
    text-decoration: none;
}
